/* This is my custom CSS file */
.divider {
    position: relative;
    margin: auto;
    width: 0;
    height: 0.15em;
    background-color: white;
    transition: width 1s ease;
}

.divider .content {
    background: #191919;
    padding: 3px;
    display: inline-block;
    transform: translateY(-50%);
}

green {
    color: #3be57f; 
}
red {
    color: red;
}
.container {
    display: flex;
}

.col {
    flex: 1;
}

    

img {
    border:none!important;
    background:none!important;
}

theorem {
    font-family: roman;
    padding: 10px;
    font-style: italic;
    font-size: 0.7em;
    display: block;
    background: rgb(40,50,10);
    color: white;
    font-weight: normal;
}

definition {
    text-align: left;
    font-family: roman;
    padding: 10px;
    font-style: italic;
    font-size: 0.7em;
    display: block;
    color: white;
    font-weight: normal;
    border: 2px solid white;
    border-radius: 10px;
}

block {
    padding: 1em;
    font-size: 0.7em;
    display: block;
    font-weight: normal;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}

block .header {
    font-size: 1.5em;
}

.green {
    color: #3be57f;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.timeline li {
    list-style: none;
    border-left: 2px dashed red;
    position: relative;
    padding: 20px;
    border-bottom: 0.5px solid rgba(168,168,168,0.3);
}

.timeline li:last-child {
    border-bottom: none;
}


.timeline li:before {
    content: "•";
    color: #3be57f;
    font-size: 45px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    transform: translate(-52%,35%);
    //transform: translateX();
}
